{% extends 'base.html.twig' %}

{% block title %}Liste stages par entreprises{% endblock %}

{% block contenu %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Stages proposés par l'entreprise {{entreprise.nom}}</h1>
    <br>
    {% for stageCourant in entreprise.stages %}
        <h1> Intitulé : {{stageCourant.titre}}</h1>
        <div>
            <a class="link" href="{{path('pro_stage_stages', {id:stageCourant.id})}}">
                   <h2> Lien vers le stage </h2>
            </a>
        </div>
        <br>

        {% else %}
            <h1> Cette entreprise ne propose pas de stage </h1>
             <div>
            <a class="link" href="{{path('pro_stage_accueil')}}">
                   <h2> Retour à la page d'accueil</h2>
            </a>
            </div>
 
    {% endfor %}
</div>
{% endblock %}
